[2015-04-02 21:13] morganherlocker opened #1 "follow tilejson-spec?"
https://github.com/mapbox/tilejson-spec

[example](https://github.com/mapbox/tilejson-spec/blob/master/2.1.0/example/osm.layer)

[2015-04-02 21:47] morganherlocker opened #2 "tests"
We should have tests for:
- [x] [counting features](https://github.com/mapbox/tile-reduce/tree/master/test/count)
- [x] [road diffing](https://github.com/mapbox/tile-reduce/tree/master/test/diff)
- [x] mass trace missing road identification
- [x] [unconnected major roads](https://github.com/mapbox/tile-reduce/tree/master/test/disconnect)
- [ ] one-way check
- [ ] dead end one ways
- [ ] missing sp

[2015-04-02 22:09] morganherlocker opened #3 "events"
- **start**: reports that the cover has been computed for mapping jobs and sends back the tiles that will be processed
- **reduce**: called to return the results of each tile; this should be used for incremental computations and fast accumulating values, rather than heavy computation (that should be done in the worker)
- **end**: job is complete, so any results can be tied together and output if n

[2015-04-03 00:23] morganherlocker opened #4 "jobs"

[2015-04-03 03:02] morganherlocker opened #5 "flexible cover scoping"
I think we should make scoping jobs extremely flexible:

- bbox
- polygon
- *anything geojson* - for example, feed in a feature collection of census blog group points, so only areas where people live are computed; feed in a collection of roads, so only tiles that contain road networks are processed
- tiles - feed in a list of tiles so custom filters can be precomputed; the tiles can be down sample

[2015-04-06 18:26] morganherlocker opened #6 "to-fix example"
@aaronlidman can you sketch out what to-fix input would like? My understanding is that if we output a csv where each row holds geometry (WKT?), to-fix should be able to handle this. Do we need to make a custom plugin for each type of task with its own UI?

For the purpose of this example, let's say we had a tile-reduce job that output a collection of geojson points where there were disconnected ma

[2015-04-07 02:23] morganherlocker opened #7 "persistent reduce queue"
I think the reducer should be fired when all of the map operations are complete. This will slow things down a tiny amount, but not significantly in most cases. It will also eliminate race conditions, and will allow for much better reliability (internet goes down during a job, event gets "lost" for whatever reason, etc.). This will also allow for anonymous reducers off the client's machine that can

[2015-04-07 17:21] #3 closed, assigned to nobody

[2015-04-07 23:52] ericfischer opened #8 "Tile encoding troubles for disconnected road detection"
What I thought before was spherical geometry precision problems I now think is really tile-encoding problems.

Example: http://www.openstreetmap.org/node/1004264211. The real location is lat="38.9347951" lon="-77.0533697"

In the through way http://www.openstreetmap.org/way/38132834 it is encoded at z12 as [-77.05332040786743,38.93477700153804], [1247,1476]

In the way that ends there http://www.o

[2015-04-08 02:44] morganherlocker opened #9 "request throttling"
We should have an option for max worker tile requests per second, along with a conservative default. If we set this to 50/sec, we could safely say that the max with compositing + 4 cores would be ~1k total per second.

[2015-04-08 22:47] morganherlocker opened #10 "move area param into opts object"
I think this will make queueing easier in multi-level deployments. per https://github.com/mapbox/reducer/blob/master/job-config-test.json#L3

cc @MateoV

[2015-04-10 23:38] morganherlocker opened #12 "research lamdaws"

[2015-04-13 17:18] #4 closed, assigned to nobody

[2015-04-13 17:19] #10 closed, assigned to nobody

[2015-04-13 18:00] morganherlocker opened #14 "travis"

[2015-04-13 20:42] #12 closed, assigned to nobody

[2015-04-13 20:57] morganherlocker commented on #14
done https://github.com/mapbox/tile-reduce/commit/c7a457c8aaaff3af20f1f97c32d9174d7bacb2b2

[2015-04-13 20:57] #14 closed

[2015-04-13 20:58] morganherlocker commented on #8
:tada: https://github.com/mapbox/tile-reduce/pull/13

[2015-04-13 20:58] #8 closed

[2015-04-14 11:46] aaronlidman commented on #2
@ericfischer Is working on one-way check this week.
@aaronlidman Is working on counting road/path miles and buildings this week

[2015-04-15 15:27] morganherlocker commented on #2
We actually have quite a few functional tests now. Since what we are really testing is tile-reduce, rather than the specific use cases, I think we can probably move on to unit tests at this point. The functional tests here will provide a good starting point for the tests of the actual implementations of these tasks.

[2015-04-15 18:13] morganherlocker commented on #7
This will be solved upstream (at the cloud infra level)

[2015-04-15 18:13] #7 closed

[2015-04-15 18:14] morganherlocker commented on #5
tiles https://github.com/mapbox/tile-reduce/pull/17

[2015-04-15 21:50] morganherlocker opened #18 "additional per-task options"

[2015-04-15 22:07] morganherlocker opened #19 "document api"
There is an example now, but there should also be explicit docs.

- What is a valid coverArea?
- What goes into the options object?

[2015-04-16 15:00] anandthakker opened #20 "support local (mbtiles) source of vector tiles"
I think it would be pretty straightforward, using tilelive + node-mbtiles & node-tilejson, to generalize [getVectorTile][0] to either backend source.

[0]: https://github.com/mapbox/tile-reduce/blob/master/worker.js#L32-L69

[2015-04-16 20:20] morganherlocker commented on #20
@anandthakker How about rendering your vector tiles once locally and serving them with something like [tilestache](http://tilestache.org/doc/)?  tile-reduce would allow you to point to a locally hosted tile server. The reason I am reluctant to allow local file access directly, is that it would cause an impedance mismatch between browser/desktop/server processing. Neither browsers nor server cluste

[2015-04-16 23:28] anandthakker commented on #20
@morganherlocker Ah, okay--yeah, that makes plenty of sense to me.  Closing!

[2015-04-16 23:28] #20 closed

[2015-04-20 18:54] morganherlocker opened #21 "wrap single tile in array"
https://github.com/mapbox/tile-reduce/blob/master/index.js#L71

[2015-04-20 19:12] morganherlocker opened #22 "processors should be async"
Processors may need to use async resources (eg: tile buffer crawling, c++ libs, etc.). For this to be possible, we need a standard node callback interface, instead of the current sync interface.

[2015-04-20 20:20] morganherlocker commented on #22
done https://github.com/mapbox/tile-reduce/commit/99867214be5a91d05bc9d25a7e947fb564580544

[2015-04-20 20:20] #22 closed

[2015-04-20 20:21] morganherlocker commented on #21
fixed https://github.com/mapbox/tile-reduce/commit/a93ccda013ca60a978683397b8a70062adaafae0

[2015-04-20 20:21] #21 closed

[2015-04-21 17:35] anandthakker opened #25 "browser support"
It should be possible to make this work in modern browsers via web workers. To do this:

 - [ ] factor out [getVectorTile](https://github.com/mapbox/tile-reduce/blob/master/worker.js#L33-L70), and provide a browser version that uses `xhr` instead of `request`.  (Note: I *think* the browser will handle the gzip transparently.)
 - [ ] use [webworkify](https://github.com/substack/webworkify) as a sub

[2015-04-21 20:14] morganherlocker commented on #25
rough xhr version ripped from some other code I had:

[code]

[2015-04-21 20:19] morganherlocker commented on #25
^ note that I have had some trouble in the past finding a solution that auto-gunzips for both node.js *and* browser. request-browser ignores gzip headers, as does node-xhr, so we'll need to do a bit of hacking around to get this to work in the same codebase.

[2015-04-21 20:49] anandthakker commented on #25
Ack.  Another issue is that webworkify isn't gonna cut it, since it would need the web worker source at bundling time, but the worker uses this [dynamic require](https://github.com/mapbox/tile-reduce/blob/master/worker.js#L8).

[2015-04-21 21:12] morganherlocker commented on #25
@anandthakker oof yeah. We could just specify that you have to pre-browserify a standalone script ahead of time. That would be a pretty reasonable requirement for clientside IMO.

[2015-04-30 18:17] morganherlocker commented on #9
first pass, I will implement

- 200 req/sec max
- auto-calculate per-worker max
- throttle all requests, regardless of response

[2015-04-30 20:12] morganherlocker opened #26 "mock server for testing throttling"

[2015-05-01 15:36] anandthakker commented on #25
@morganherlocker I take it all back: I do think it might be possible to use webworkify here, but it might involve some pretty weird eval stuff.

[2015-05-01 21:17] morganherlocker commented on #26
basic test written with a simple http server that sends back null responses quickly https://github.com/mapbox/tile-reduce/pull/27

[2015-05-01 21:17] #26 closed

[2015-05-01 21:21] morganherlocker commented on #9
Basic rate limiter on this [PR](https://github.com/mapbox/tile-reduce/pull/27). The way it works now, it rate limits the speed at which messages are sent to the workers, however, it does not have back pressure. This is causing a bit of variability that can cause requests to spike ~1.5x now and then. I'm going to take a swing at refactoring this some more to make this smoother.

[2015-05-18 15:10] morganherlocker opened #29 "optional extra throttle"
Algorithms that involve crawling tiles may make extra requests. This option would allow for throttling beyond the default 200 per/sec limit to account for this.

[2015-05-18 15:11] morganherlocker commented on #9
This has been deployed. There is room for future improvement, but this should do for now.

[2015-05-18 15:11] #9 closed

[2015-05-18 15:12] morganherlocker commented on #5
This is merged and published

[2015-05-18 15:12] #5 closed

[2015-05-18 16:14] #2 closed

[2015-06-02 21:21] aaronlidman opened #31 "Mbtiles support"
We need this. Atlas.

I started here: https://github.com/mapbox/tile-reduce/pull/28

[2015-06-02 22:12] morganherlocker commented on #29
grrrr, the rate testing code is messed up. Tests pass locally within expected parameters, but the rates double on travis and fail consistently. It seems like the event loop might be bunching up on the travis boxes somehow, causing the reqs/sec counts to shoot off too high. I'll do some more digging.

[2015-06-02 23:43] morganherlocker commented on #29
Thought I had it... https://github.com/mapbox/tile-reduce/pull/30

![screenshot 2015-06-02 19 38 56](https://cloud.githubusercontent.com/assets/814300/7949789/9c730032-095f-11e5-92e1-1aecd0125a1a.png)

[2015-06-03 14:43] mtirwin commented on #31
High five.

[2015-06-03 14:46] morganherlocker commented on #31
Technically tile-reduce will already work out of the box with Atlas or a combo of Atlas and Mapbox.com. Not trying to dissuade, because it would be useful regardless; just want to point out that Atlas users can already use tile-reduce just like we do.

[2015-06-17 03:57] morganherlocker opened #32 "read files from disk"
This feature would allow for caching or pre-downloading a region, which would speed up jobs that use tons of HTTP requests. I'm thinking that a file path with the usual `{x}` `{y}` `{z}` would suffice.

[2015-06-17 18:30] tmcw opened #33 "Tests do not confirm values"
[These tests always write new files to disk](https://github.com/mapbox/tile-reduce/blob/fd36058ae6520dcb44a8ba13bb3ac3f8d1ccddfa/test/disconnect/index.js#L53) - they'll always pass regardless of whether a change changes their output.

[2015-07-16 02:05] tmcw opened #34 "is tilereduce a class or a function?"
* classes should be uppercased and initialized
* functions should be lowercased

The example has a confusing invocation of tilereduce:

[code]

A more common expectation would be

[code]

[2015-07-16 02:25] tmcw opened #35 "Access token?"
Looks like the example code is missing an access token in the vtile url that prevents it from being usable.

[2015-07-25 01:13] MateoV commented on #31
I've continued work on supporting local mbtiles in the [`mbtiles-matt`](https://github.com/mapbox/tile-reduce/tree/mbtiles-matt) branch. It's working well but there are a couple things I'd like to add, not to mention some new tests.

This work required a bit of refactoring in order to get around concurrency issues when grabbing data in parallel across the workers. The data is now retrieved in the

[2015-08-19 14:49] rustyb opened #37 "Error in example - wrong road layer"
Howdy Folks - I just noticed a small error in the example code where the roads layer from mapbox-streets is wrong:

```layers: ['roads']``` should in fact be ```layers: ['road']```

Similarly in ```buffer.js``` it should be:

[code]

[2015-08-24 20:45] morganherlocker opened #38 "tile validity bug"
https://github.com/mapbox/tile-reduce/blob/master/index.js#L86-L88

This checks the first tile number 3 times, when it should check 0,1,2.

[2015-08-25 01:22] lbud commented on #38
https://github.com/mapbox/tile-reduce/commit/1e69228823fecb0a804845b7af82c6862a696428

[2015-08-25 01:22] #38 closed

[2015-08-25 02:06] morganherlocker commented on #37
thanks @rustyb!

https://github.com/mapbox/tile-reduce/commit/02a9645369ad39f4999eec10bb3c325a47df7cdd

[2015-08-25 02:06] #37 closed

[2015-08-26 01:10] willwhite opened #39 "Factor out vector tile parsing"
We are starting to use tile-reduce for more than just vector tile processing. To acomplish this we have to [remove VT parsing code](https://github.com/mapbox/tile-reduce/commit/795ec51e6dd8577dca53bddc4c51d0b65d1d7a7d#diff-8a5b5909f5b3ce1a25a1c499ab30da2cL51) and [whatever parsing code we want](https://github.com/mapbox/tile-reduce/commit/795ec51e6dd8577dca53bddc4c51d0b65d1d7a7d#diff-8a5b5909f5b3c

[2015-09-06 14:39] mourner commented on #31
This was done.

[2015-09-06 14:39] #31 closed

[2015-09-22 10:06] mourner commented on #39
I'd love to see that too. It's useful for vector tiles as well, e.g. when we want to parse vector pbfs lazily and process geometries directly without GeoJSON conversion for performance.

[2015-10-28 08:33] mourner opened #42 "Memory leak"
When you're not accumulating results on `reduce` events, the memory consumption still creeps up so you can easily go out of memory on a large number of tiles. This doesn't look right — there's probably a big memory leak somewhere.

[2015-10-28 11:10] mourner commented on #34
Currently it's a factory that creates an `EventEmitter` object, so it can be used without `new` anywhere. I would consider making it a proper class that inherits `EventEmitter` for code clarity though (preserving the newless API).

[2015-10-28 11:14] mourner opened #43 "Consistent code style and ESLinting"

[2015-10-28 13:31] mourner opened #44 "maxrate is broken"
@MateoV this commit https://github.com/mapbox/tile-reduce/commit/f945449d03592c9e1be09d0ffa218caba6362969 broke maxrate.

On [this line](https://github.com/mapbox/tile-reduce/blob/be8be60d1c575514a9d4bda74d2d6ca6ab5f6854/index.js#L214), `getTile(data)` gets immediately called for all tiles, an its return value (undefined) gets served to `rateLimit` which does nothing.

cc @tcql

[2015-10-28 13:37] mourner commented on #42
Found the cause. Asynchronous `zlib.unzip` leaks memory when you call it many thousands of times at once. Switching to `unzipSync` [here](https://github.com/mapbox/tile-reduce/blob/be8be60d1c575514a9d4bda74d2d6ca6ab5f6854/index.js#L84) fixes the leak (only supported by node 0.12+).

In theory, `maxrate` could help with this, but it is not set by default for `mbtiles` sources. But even if you set i

[2015-10-28 13:37] mourner commented on #42
cc @MateoV @morganherlocker @tcql

[2015-10-28 17:15] morganherlocker commented on #42
nice catch!

[2015-10-28 20:34] aaronlidman commented on #44
This was previously in place to prevent hitting our APIs too hard.

Is there any reason we would want to rate limit locally?

[2015-10-28 20:40] aaronlidman commented on #32
We're doing this with mbtiles: https://github.com/mapbox/tile-reduce/pull/36

[2015-10-28 20:40] #32 closed

[2015-10-28 22:00] mourner commented on #44
@aaronlidman yes, see #42 (it may help)

[2015-10-29 13:45] tcql opened #45 "support other sources"
This may end up being irrelevant depending on new architecture, but if we keep data source configuration centralized, we should think about supporting more sources. Maybe use tilelive, so supporting other sources is trivial / zero changes to tile reduce internals

Background: I'm trying to do OSM stats by country. This means that I either:

- Need to split jobs up by country, OR
- Need to know wha

[2015-10-29 16:17] mourner commented on #45
The new architecture has all source-related code in separate files and pluggable, so it will be easy.

[2015-10-30 11:04] mourner commented on #45
@tcql for the specific task you're talking about, what I would do is split the jobs by country, running a separate job on each country polygon, and then just disregard the error introduced by tiles that are on country borders because they won't affect results much (the bulk of the data is in cities, not on borders, and there are many more tiles inside the country than on the border).

To fix the t

[2015-10-30 11:54] mourner commented on #42
I was wrong, `unzipSync` does not fix the memory issue entirely — memory still creeps up on long-running tasks. However the next-gen tile-reduce should solve all memory problems.

[2015-10-30 13:17] mourner commented on #39
Happening as a part of https://github.com/mapbox/tile-reduce/pull/46

[2015-10-30 13:17] #39 closed

[2015-10-30 13:18] mourner commented on #34
Will be fixed as a part of https://github.com/mapbox/tile-reduce/pull/46.

[2015-10-30 13:18] #34 closed

[2015-10-30 13:20] mourner commented on #43
Happening as a part of https://github.com/mapbox/tile-reduce/pull/46

[2015-10-30 13:20] #43 closed

[2015-10-30 14:06] anandthakker opened #47 "Alternative ways to determine the list of tiles to process"
Couple possibilities I could see being useful:

 - Accept `options.tiles` as a direct list of tiles
 - Something like "do all the tiles in this `mbtiles` file" (since getting such a list is possible with `mbtiles`)

[2015-10-30 14:25] tcql commented on #47
Also, some internal tools allow supplying a geojson polygon either as a string or in a file, then generate tile-cover from that. It would make sense for this to be native to tile-reduce.

[2015-10-30 14:29] anandthakker opened #48 "Passing options to workers"
I'm thinking about using tile-reduce to power a little utility module, where I'd need to pass options along from the main process to the workers.  Could the `map` module get passed the serialized tile reduce options as one of its initial args?

[2015-10-30 14:36] mourner commented on #47
Yes, would be very much up to improvements on this front! I'm especially interested in the possibility to stream tile numbers one by one through the API. E.g. not specifying the area in the constructor, but calling something like `job.tile(tile)` in a loop afterwards or accepting a Node stream.

Direct list of tiles is supported in the current version but I need to port it over to the nextgen bran

[2015-10-30 14:37] anandthakker commented on #47
@mourner Oh yeah: sending tiles in dynamically via `job.tile()` or a stream would be excellent

[2015-10-30 14:37] mourner commented on #18
-> #48

[2015-10-30 14:37] #18 closed

[2015-10-30 14:38] mourner commented on #48
Yes, good idea! I suppose #18 means the same too.

[2015-10-30 14:55] anandthakker commented on #48
Hmm, not sure what the best API for this is, though.  If handling the options requires a bit of up-front work, it would not be ideal to just add `options` as another arg to the `map` function.  I guess the `map` module could be changed to export a function that takes options and returns the actual map function -- it's an extra bit of indirection, but pretty typical for Node modules

[2015-10-30 14:59] mourner commented on #48
@anandthakker hmm, can you give an example of upfront work? Maybe we should just pass options to the map function.

[2015-10-30 15:05] mourner commented on #47
I'm thinking of an even more generic cool API: do not specify area in constructor options, and then `job.run(options)` as many times as needed, where options can have tiles, bbox, polygon etc.; it would start processing as soon you start serving tiles. Then you run `job.end()` to indicate that you served all the tiles you wanted to process, and now waiting for the `end` event. cc @tcql @morganherl

[2015-10-30 15:13] anandthakker commented on #48
@mourner Sure -- this is pretty idiosyncratic, but my main module accepts a big map like `{ [layername]: { [propertyname]: aggregationString } }`, and the workers use each `aggregationString` to construct an aggregation function which they'll apply to each feature they encounter.  Building the aggregation function isn't especially complicated--it's essentially a `Function.bind`--but it seems like

[2015-10-30 17:21] tcql commented on #47
addressing the first part of this (allowing different types of job areas) in #49. I'll do a PR soon for @mourner's suggestion of streaming in tiles

[2015-10-30 17:44] mourner commented on #42
Will be fixed by https://github.com/mapbox/tile-reduce/pull/46.

[2015-11-03 12:29] mourner commented on #47
Instead of complicating the tile-reduce job API, how about accepting [a next function](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Iteration_protocols) as the area that can be used to fetch tiles one by one in streaming fashion?

[code]

Then we could create a version of tile-cover that streams tiles like this (but without deduping because it would need hashing all tiles in m

[2015-11-03 13:51] anandthakker commented on #47
:+1: to the iterator approach -- would this mean `options.tiles` could be either an array or a next function?

[2015-11-03 14:00] mourner commented on #47
@anandthakker yes, something like this. I'll look into this and also doing a streaming https://github.com/mapbox/tile-cover version for polygons — it should be relatively easy to do.

[2015-11-04 14:05] mourner commented on #47
@anandthakker how about using Node readable streams that stream tile objects instead of iterable? I found out that tippecanoe can generate a test list of tiles for a given mbtiles file like this:

[code]

Then we can then turn it into object stream as easily as this:

[code]

[2015-11-04 17:38] anandthakker commented on #47
@mourner :100: I think a Node object stream is ideal.

[2015-11-04 17:38] anandthakker commented on #47
^ also note: `node-mbtiles` can do something similar too

[2015-11-04 20:49] mourner commented on #47
@anandthakker I ended up implementing the API that accepts the path to a tile list rather than a generic stream, because Node streams are really hard and confusing. This may be good enough for our use cases though. Pushed to the `nextgen` branch, try it out!

[2015-11-09 21:07] morganherlocker commented on #6
Closing, we do not need this as a part of TileReduce.

[2015-11-09 21:07] #6 closed

[2015-11-09 21:08] #29 closed

[2015-11-11 12:03] mourner opened #52 "Nextgen: dealing with interleaved stdout output"
I think I have a good plan for the interleaved output bug. It's clear that we need to pipe processes to the main thread so that the output is done by a single process. My luck with diff on Node 0.12 was probably due to its new feature of stream corking/uncorking (buffering writes) by default, which possibly made the actual writes to stdout happen less often.

Even when piping, many worker streams

[2015-11-11 19:24] tcql commented on #52
I've got a bunch of [tests for resolving interleaving](https://github.com/tcql/test-worker-writes), including using a record separator.

I found that using a record separator between each log/write instead of a single one for the entire map function worked much better when writing large amounts of results from the map worker. In my testing examples, I was writing 20,000 geojson features in each ma

[2015-11-11 20:12] tcql commented on #52
Separators + write function are in 87abcc8

[2015-11-11 20:12] #52 closed

[2015-11-12 17:15] mourner commented on #47
Happening in #46

[2015-11-12 17:15] #47 closed

[2015-11-12 17:15] #42 closed

[2015-11-12 17:16] mourner commented on #35
Examples in #46 use MBTiles. We'll be sure to add an access token if we add remote examples.

[2015-11-12 17:16] #35 closed

[2015-11-12 17:16] mourner commented on #33
Happening in #46

[2015-11-12 17:16] #33 closed

[2015-11-13 00:12] morganherlocker commented on #44
I just want to also add here that we still support remote sources, so this is important. Many tasks do make sense over HTTP (cpu heavy jobs like image analysis, where having all the data locally is not practical or necessary).

[2015-11-13 00:14] morganherlocker commented on #1
I think the current API in https://github.com/mapbox/tile-reduce/pull/46 is clean and flexible, so this should not be needed. If it is required down the line (like if we want to plug into many new types of sources for some reason), then we can revisit.

[2015-11-13 00:14] #1 closed

[2015-11-20 23:48] mourner commented on #44
Fixed in #46

[2015-11-20 23:48] #44 closed

[2015-11-20 23:49] mourner commented on #19
Somewhat fixed in #46

[2015-11-20 23:49] #19 closed

[2015-11-21 07:51] jingsam opened #58 "npm test fails under Windows"
I run `npm test` on tile-reduce 3.0. It fails on Windows 10 with node v5.1.0, while success on Ubuntu. It is strange. Here is the error message:

[code]

[2015-11-21 16:37] mourner commented on #58
I suspect that we don't handle all errors correctly, so we don't see the root cause here instead of the silent 0 result. We need to make sure that we do. @tcql @morganherlocker

@jingsam could you help us debug this issue? Maybe putting `console.warn` in different places of `count.js` and event listeners in `index.js` and seeing if there's anything suspicious?

[2015-11-21 18:48] tcql commented on #58
I'm suspecting something obscure with streams to forked processes. I can do a test on windows 7 sometime later today too.

[2015-11-22 02:42] tcql commented on #58
Look like it's an issue with `binary-split` on windows. On windows 7, switching to [split](https://www.npmjs.com/package/split) makes tests pass. Let's try any track down the error and fix upstream (or look into [binary-split-streams2](https://www.npmjs.com/package/binary-split-streams2))

[2015-11-23 03:23] lxbarth opened #59 "TileReduce or Tile Reduce"
Simple question, but we should nail it down: Should we CamelCase or just do two words? I've been using Tile Reduce in blog posts but it would make sense to follow the lead of [MapReduce](https://en.wikipedia.org/wiki/MapReduce) - as much as I'm not sure why the world ever started to CamelCase outside of programming languages ;-)

@morganherlocker @tcql @mourner ?

[2015-11-23 08:32] mourner commented on #59
I have no strong preference here, either sounds fine.

[2015-11-23 15:49] tcql commented on #59
`TileReduce` is canonical - it's used in the docs and matches `MapReduce`.

@lxbarth in my head it's always `tilereduce` because that's how I write it in code 😉

[2015-11-23 15:49] mourner commented on #59
BTW it's a bit weird that the GH repo and NPM package is `tile-reduce` and not `tilereduce`.

[2015-11-23 16:07] mourner commented on #58
Interesting. Can you set up a minimal non-TR test case reproducing the binary-split bug?
It's a bummer that binary-split isn't maintained, maybe we should ask Max for push access and make a new major version with streams2, Travis run on many versions etc.

[2015-11-23 23:27] morganherlocker commented on #59
Yep, TileReduce is a play on MapReduce. For the `-` in the repo names... a bit odd perhaps, but probably not worth changing, since it would break dependencies.

[2015-11-23 23:27] #59 closed

[2015-11-24 04:21] lxbarth commented on #59
👍

[2015-11-24 11:07] mourner commented on #58
@tcql oh, I think I have a good guess about this. The issue is not with binary-split module, but with the matcher it uses for splitting. If you create it without arguments, it uses `require('os').EOL` by default, however the system EOL probably doesn't match EOL used in MBTiles or our test tile list. Instead we should probably explicitly use Unix EOL in both.

[2015-11-24 15:14] tcql commented on #58
@jingsam could you test this out for us? change [this line](https://github.com/mapbox/tile-reduce/blob/09b12b3738c4d1e1a5f77b504465695c88b9fe2d/src/index.js#L84) to

[code]

and run `npm test` again to see if this fixes the issue

[2015-11-24 15:19] tcql opened #61 "documentation holes"
We definitely need to document `raw` - we don't even mention it right now.

Optionally, we may want to add a section about how to optimize (use raw, use rbush for lots of intersections, etc) and talk about the effect of tiles with buffers and how to generate custom mbtiles without buffers

[2015-11-24 15:49] mourner commented on #58
And possibly the same [on this line](https://github.com/mapbox/tile-reduce/blob/master/test/test.count.js#L81) (depending on git config on the Win machine).

[2015-11-24 16:23] jingsam commented on #58
Bingo！All tests passed after corrections：
`tileStream = db.createZXYStream().pipe(binarysplit('\n')).on('data', handleZXYLine);` [on this line](https://github.com/mapbox/tile-reduce/blob/09b12b3738c4d1e1a5f77b504465695c88b9fe2d/src/index.js#L84)

`tileStream: fs.createReadStream(path.join(__dirname, 'fixtures/tilelist')).pipe(split('\n')),` [on this line](https://github.com/mapbox/tile-reduce/blob

[2015-11-24 16:24] tcql commented on #58
@jingsam awesome. want to make a PR?

[2015-11-24 16:36] jingsam commented on #58
I am not sure this [PR](https://github.com/mapbox/tile-reduce/pull/62) is compatible on other platforms

[2015-11-24 16:47] tcql commented on #58
thanks @jingsam. The change when reading mbtiles sources should work across platforms (since the newlines seem to be explicitly coming from `createXYZStream`), but we'll have to test out the other change, where it's reading from a file. This will likely break if anybody is on windows and has their git configuration set to convert line endings to windows style breaks.

[2015-11-24 17:03] tcql commented on #25
I was thinking on this the other day. It's interesting, but with us now relying heavily on process streams for output, this is even more complicated. Since webworkers won't have externally accessible streams for `worker.process.std*` we'd need to wrap the webworker and catch messages, redirecting to streams that exist only in the main thread.

- Find a solution for the dynamic require that @anandt

[2015-11-24 17:31] mourner commented on #58
@tcql specifically for the test, I think we could use `split` instead of `binary-split` simply because it uses a regexp matcher rather than specific bytes.

[2015-11-24 17:34] mourner commented on #25
@anandthakker is there a real use case for TileReduce in the browser?

[2015-11-24 19:31] morganherlocker opened #63 "set number of cores to use in options"
Currently TileReduce uses all available cores. We should add an option to set this explicitly so people can use less resources if necessary.

cc @tcql

[2015-11-25 15:40] #63 closed

[2015-11-25 17:25] tcql commented on #58
@jingsam thanks! this is incorporated in [v3.0.1](https://github.com/mapbox/tile-reduce/tree/v3.0.1)

[2015-11-25 17:25] #58 closed

[2015-11-25 19:34] morganherlocker opened #65 "failing build?"
https://travis-ci.org/mapbox/tile-reduce/jobs/93201091

It looks like a build failed, but the associated PR passed.

cc @tcql

[2015-11-25 20:41] mourner commented on #65
Just rerun and it passed. Hmm maybe a random deviation.

[2015-11-25 20:50] tcql commented on #65
I'm getting confusing results here.

https://travis-ci.org/mapbox/tile-reduce/jobs/93201097

This one thinks `test.count` doesn't have a test plan. Earlier it complained that `test.workers` didn't have a plan.

[2015-11-26 08:38] uberguru opened #66 "example code doesnt match format of latest-planet.mbtiles"
I downloaded the lastest planet mbtiles from https://s3.amazonaws.com/mapbox/osm-qa-tiles/latest.planet.mbtiles.gz

The count example works with the included data set, but not with the 22gb planet mbtiles.

The example code uses key value to count i.e. count buldings.

[code]
however the planet mbtiles the key seems to always be osm, but the fields contain the tags, im just not able to figure out

[2015-11-26 09:26] mourner commented on #66
Example fixtures do not necessarily have to match the layout of the OSM planet, they're just an example source. The OSM QA Tiles have just one `osm` layer, so you would access it with `layers.osm.osm`.

For real world processor examples, see https://github.com/mapbox/osm-sidewalker, https://github.com/mapbox/road-diff, https://github.com/mapbox/osm-coverage. We'll add them as a list to the readme.

[2015-11-26 09:26] #66 closed

[2015-11-26 14:34] jingsam commented on #58
Now I get "Missing plan" error:
[code]

error 1) and 2) appear on every test. The other missing plan errors arise randomly.

[2015-11-26 14:44] mourner commented on #58
@jingsam :( ticketed here https://github.com/mapbox/tile-reduce/issues/65

[2015-11-27 14:27] jingsam opened #67 "Can not select by layers from a remote sources"
In `README.md`, there is a example on URL sources:
[code]

I expect only transfer `roads` layer. However, I still get all layers in streets. The `layers` seems have no effects.

[2015-11-27 15:57] mourner commented on #67
Hmm, that's surprising, Can you share the full `index.js` source? This behavior is tested, e.g. here https://github.com/mapbox/tile-reduce/blob/master/test/test.remote.js#L48, so it should work.

[2015-11-27 16:06] jingsam commented on #67
https://github.com/jingsam/tile-reduce-test/blob/master/index.js#L12
https://github.com/jingsam/tile-reduce-test/blob/master/count.js#L5
When I print `data`, it shows that I get all layers

[2015-11-27 16:29] mourner commented on #67
From streets, not from mapzen?

[2015-11-28 00:37] jingsam commented on #67
Mapzen selects layers by specifying in urls. I have tested streets. This is what I got (test on windows):
[code]

[2015-11-30 13:13] mourner commented on #65
Sporadical Travis build failures seem to be fixed now by https://github.com/mapbox/tile-reduce/commit/7689fd78116a00b1c7b5d6a247df38a4b33cd3e8. @jingsam can you also please confirm on Windows?

[2015-11-30 13:13] #65 closed

[2015-11-30 13:15] mourner commented on #45
Since the country thing was dealt other way and tilelive sources don't seem worth implementing atm, let's close this and then open a separate ticket for each source we want to consider implementing (e.g. raster PNG/JPG tiles).

[2015-11-30 13:15] #45 closed

[2015-11-30 13:16] mourner commented on #25
Closing as something that's not worth the effort at the moment. Let's reopen if we find some good use cases for this.

[2015-11-30 13:16] #25 closed

[2015-11-30 14:32] anandthakker commented on #25
@mourner sorry to have missed this last week.  I think the use case is there, but it's not very common: it would be a way to do live / interactive analysis on vector tile data -- e.g., summing population in a user-drawn polygon (or something like that).

Anyway, I agree with leaving this closed.

[2015-11-30 20:34] mourner commented on #67
@jingsam I see that it returns VectorTileLayer instances, did you use `raw: true` option in the source? When the option is set, the `layers` property becomes irrelevant since the data is parsed lazily. So I don't think this is an issue. If it is, I'll reopen.

[2015-11-30 20:34] #67 closed

[2015-12-01 11:51] jingsam commented on #65
Yes, all tests have passed. Network condition may affect the tests. Since I live in China, the tests succeed using VPN and failed without VPN. Anyway, it is not the program's problem, Cheers! :clap:

[2015-12-01 12:23] jingsam commented on #67
OK, I get it. I should set `raw: false` when I select layers.

[2015-12-01 16:15] tcql commented on #67
@jingsam the issue is that `raw: true` returns VectorTile objects, which are parsed lazily. There's no benefit (in fact it's more work, see the code in #69) to filter layers on a VectorTile. If you want to work with VectorTile object instead of geojson in your processor, leave `raw: true`. If you need to use geojson in the processor, filtering layers makes a huge difference on speed because parsin

[2015-12-02 05:17] jingsam opened #70 "Output results to mapbox studio"
Hi, I am looking for suggestions. Recently, I am using tile-reduce to do some statistics on osm-qa-tiles. I want to calculate a metric (e.g. road density) on each tile of zoom 12, then output to mapbox studio for visualization. The problem is how to store the result. As zoom 12 has 16 million tiles, using GeoJson, MBtiles, or UTF8Grids maybe too large for storage. So I hope to get some advice from

[2015-12-02 14:46] mourner commented on #70
The actual number of z12 tiles for a world dataset is 2.1 million, which is more manageable. Eventually we may implement writing vector tiles as output, but currently you'd have to generate GeoJSON and then run `tippecanoe` on it. If the size is too big, you'd have to split the jobs, e.g. into regions (North America, etc.), and possibly use a lower zoom level.

[2015-12-02 14:46] #70 closed

[2015-12-06 01:23] jingsam opened #71 "awesome-tile-reduce"
I think there should be a list of awesome tile-reduce projects, such as [osm-coverage](https://github.com/mapbox/osm-coverage), [osm-sidewalker](https://github.com/mapbox/osm-sidewalker).

[2015-12-15 22:06] tcql opened #72 "benchmark"
let's built a simple script that benches count & road diff on a small/moderate area. then we can keep an eye on general perf, and feel out whether newer node versions will bump our perf

[2015-12-16 18:55] morganherlocker commented on #61
[raw:true has been documented](https://github.com/mapbox/tile-reduce/commit/5bea323df7c3a107a3ed8a164d22a9ff8353251d).

I mentioned lazily parsing tiles with the `raw` option in the docs. I think getting into specific algorithm optimizations with rbush or other data structures is out of scope, and more suited to a dedicated computational geometry optimization book/guide/tutorial. Tile buffers I th

[2015-12-16 18:55] #61 closed

[2015-12-16 19:03] morganherlocker commented on #71
I have added a [Processor Examples](https://github.com/mapbox/tile-reduce#processor-examples) section to the docs. This is not meant to be an exhaustive list, but a place to showcase non-trivial implementations that people might benefit from using or forking into something new.

Thanks @jingsam!

[2015-12-16 19:03] #71 closed

[2015-12-17 01:36] mikelmaron commented on #48
Please! @mourner, any movement? I'm looking to try an [osmlint processor](https://github.com/osmlab/osmlint/tree/master/processors) that parses josm preset XML and tests how features' tags match against it.

[2015-12-17 01:54] mourner commented on #48
@mikelmaron does this use case need runtime options? Could you just parse XML at the top of the map script (outside of the function)?

[2015-12-17 01:59] mikelmaron commented on #48
@mourner runtime option is path to the josm preset file

[2015-12-17 02:44] mourner commented on #48
@anandthakker how about we just pass the options as arguments to the worker and then expose them as something like `global.mapOptions` (before requiring the map function in the worker)?

[2015-12-17 03:27] anandthakker commented on #48
Yep, that seems workable.
On Wed, Dec 16, 2015 at 9:44 PM Vladimir Agafonkin <notifications@github.com>
wrote:

[2015-12-18 18:00] mourner commented on #48
Done.

[2015-12-18 18:00] #48 closed

[2016-01-26 16:56] tcql opened #75 "optionally hit worker even if some sources didn't hold data for the tile"
Per [this code](https://github.com/mapbox/tile-reduce/blob/5aaf09f9b196f4d5fe0fda9f76884e75b7c37db8/src/worker.js#L42-L45):

[code]

the worker bails out and returns a reduce event if any source doesn't have data for the requested tile. This is usually great, but in some cases where you want to compare disparate data sources and are relying on reduce events to send back information about how much

[2016-01-27 10:17] mourner commented on #75
:+1: makes sense, let's add an option.

[2016-01-27 18:44] morganherlocker commented on #75
I like this proposal, but might counter with something slightly more fine-grained:

val|state
---|---
`requireData:'all'` | all sources must have data (current defualt)
`requireData:'any'` | at least 1 source must have data
`requireData:'none'` | function is called even on empty tiles

The `any` option is actually what I thought the current default was, and would cover cases like Tim's road analys

[2016-02-05 03:43] jamesbursa opened #76 "Invalid GeoJSON Polygons passed to map step"
In some cases I'm seeing invalid GeoJSON Polygons passed to the map step. It looks like features that consist of multiple exterior polygons are being converted from vector tiles to a GeoJSON Polygon instead of a GeoJSON MultiPolygon.

Then, when these Polygons are used with turf.intersect(), it throws an "TopologyError: side location conflict" exception.

Here's a test case that shows the problem.

[2016-02-05 04:02] ericfischer commented on #76
Thanks! It is great to have a solid test case for polygon problems. I'll take a close look at this in the morning.

[2016-02-05 04:02] ingalls opened #77 "writeData function does not handle backpressure"
Currently writing to the write stream does not give worker any indication about back pressure not does it handle back pressure itself.

https://github.com/mapbox/tile-reduce/blob/master/src/worker.js#L57-L58

This means that worker will continue to write to the stream even though the data will not make it through to `output`. This can result in only a small fraction of total results being written.

[2016-02-05 04:39] ingalls commented on #77
Closed in favour of #78

[2016-02-05 04:39] #77 closed

[2016-03-07 21:34] morganherlocker opened #79 "document mapOptions"
We have docs for passing mapOptions, but not consuming them.

cc @tcql

[2016-03-07 21:48] morganherlocker opened #80 "Change mapOptions from global to a worker parameter"
This would be a breaking change. At the moment mapOptions are sent to workers as global objects. I am pretty sure this is safe, since workers should not share globals across processes, however, I think it is better to be explicit. I propose we remove the global assignment and add another parameter to our worker functions. The new interface would look like this:

[code]

Thoughts?

cc @tcql @mourne

[2016-03-07 22:47] morganherlocker commented on #80
For context, the reason I think we should do this is so that map scripts can be more testable. Loading up a global context is not possible from a typical test script.

[2016-03-07 22:58] mourner commented on #80
The original use case for adding map options (#48) was to be able to do expensive initialization in the worker outside of the map loop (once instead of for each tile). This will get much less convenient when we move the options to the map argument, so I prefer the current approach.

[2016-03-07 23:28] morganherlocker commented on #80
[PR here](https://github.com/mapbox/tile-reduce/pull/81)

@mourner I can see why that would be a concern, but the global makes testing parameterized code tricky. I'm not sure how much of a real performance impact there would be on a typical processor compared to the cost of decoding the vector tile (not to mention the actual processing defined by the user).

[2016-03-07 23:51] mourner commented on #80
@morganherlocker here's an example: suppose you want to make an index of countries to do fast point-in-poly tests (like we do with OSM Coverage). Indexing is expensive, so you want to do that once for a worker — then you would load the counties GeoJSON and `which-polygon` modules at the top level of the map script, and create an index to be queried from the map function. Now suppose you don't want

[2016-03-08 00:00] anandthakker commented on #80
@morganherlocker @mourner FWIW, the approach that would feel most natural to me would be to have the user's module export a map function _creation_ function rather than the map function itself:

[code]

To me, this would be both easy to test and remove user-side burden of caching option-processing.  Barring that, the two approaches basically seem pretty balanced to me in terms of pros and cons...

[2016-03-08 02:14] morganherlocker commented on #80
These arguments all make sense. Thanks for the explanation(s) @mourner @anandthakker.

[2016-03-08 02:14] #80 closed

[2016-03-10 22:10] mourner commented on #76
This is an upstream issue in vector-tile-js, see https://github.com/mapbox/vector-tile-js/pull/33. It was not possible to fix in earlier vector spec, but will be ready to land once vector-tile-spec version 2 becomes the production version at Mapbox (which is happening any time these days).

[2016-03-10 22:10] #76 closed

[2016-03-10 22:22] tmcw opened #84 "FP bluesky"
### The reduce function

[code]

The 'reduce' event isn't well-named. [reduce has a meaning](http://www.macwright.org/2015/01/03/reduce-juice.html), and this isn't it. Right now it's like a 'tileprocessed' event.

A real reduce method would be:

[code]

This

* Avoids side-effects in the reducer method
* Doesn't rely on scope
* Allows the reducer function to be defined in a separate file

### 'red

[2016-03-10 22:25] mourner commented on #84
Thanks for capturing this! For the reduce syntax, how do we get the final value, considering it's async, after running the code below?

[code]

I agree about calling the main script a reduce script, I found this confusing as well.

[2016-03-10 22:38] tmcw commented on #84
@mourner for synchronous code, the result of the .reduce method _is_ the value. But since this is async I think the proper syntax would be

[code]

This matches the reactive syntax for this concept https://www.npmjs.com/package/baconjs#observable-subscribe - it's also sometimes called `.onValue`, either one seems fine

[2016-04-19 07:27] tmcw opened #87 "Not all options are options"
https://github.com/mapbox/tile-reduce#options

Some of these are required, some aren't. Be specific.

[2016-04-19 08:22] tmcw opened #88 "Blockers for BLR on tile-reduce"
Our blockers for tile-reduce replacing overpass in our workflow are:
- lack of relations
- inability to stitch-together complete features
- anything else @geohacker @ramyaragupathy

Replacing Overpass would be a big win - it often goes down and work grinds to a halt, and we have to do a bunch of hacking to shift overpass's json into geojson after the fact. If we could switch, we could write faster

[2016-04-19 13:13] wboykinm commented on #88
@tmcw Is the difficulty of the second bullet documented anywhere or is it something you haven't tried yet?

[2016-04-19 13:44] anandthakker commented on #88
@wboykinm A couple weekends ago I started playing around with the problem of stitching together tiled features that don't have an id property for joining.  Found it to be a *super* interesting geometry problem, but I started feeling like it was going to be a lot of work for a pretty unlikely use case... maybe I was wrong, heh

[2016-04-19 13:59] mourner commented on #88
Yes, stitching features is a much harder problem than it looks at first sight, even when you have the ids and if you assume special conditions like zero tile buffer and artifact-less clipping by the tile generator. In any case, this should be a separate GeoJSON-processing project that's out of scope for tile-reduce.

As for relations, the problem is that relations can't be represented as vector ti

[2016-04-19 14:18] #87 closed

[2016-04-19 16:35] ericfischer commented on #88
Would it help to have a tippecanoe feature that would never crop features but would copy them intact (but with potentially huge size beyond the tile extent) into every tile they overlap? That would be easy to add.

[2016-04-19 17:35] tmcw commented on #88
cc @aarthykc who might also be working on the stitching-features-together issue

@mourner yep, totally appreciate that potentially neither of these things will actually be part of tile-reduce core, but I'd love if we can keep the discussion here at first to spec out what those things will be.

[2016-04-19 17:45] morganherlocker commented on #88
Relations can often be expressed through indexing their parts. For turn restrictions, we use a point feature representing the intersection, with the properties expressing the contents of the relation. We have also been experimenting with a C++ osm.pbf tile splitter that could make relation manipulation and prep more manageable.

This is tricky. Its an unbounded problem, since one feature could be

[2016-04-20 16:03] rclark commented on #88
This is a two-pronged problem:

- some relations don't have a concrete geographic representation. They may represent some other categorization of things. A decision has to be made about how any one of these types of relations should be geographically indexed.

- other relations do have an intended geographic representation (eg multipolygons). The lack of these relations in tile-reduce processing i

[2016-04-27 13:59] tcql opened #91 "✋ should we remove support for node 0.10"
Per #90, there are some node 0.10 specific instabilities in tile-reduce. I'd like to get some feedback from folks developing & using tile-reduce to decide on deprecating node 0.10 support.

If we drop 0.10, systems whose package manager are holding at 0.10.x will need to use [install-node](https://github.com/mapbox/install-node) or [nvm](https://github.com/creationix/nvm) to upgrade to at least no

[2016-04-27 14:14] aaronlidman commented on #91
👍

[2016-04-27 14:21] tcql commented on #75
bump. any further thoughts here? I'm fine with having 3 modes per @morganherlocker's

val | state
---|---
`requireData:'all'` | all sources must have data (current default)
`requireData:'any'` | at least 1 source must have data
`requireData:'none'` | function is called even on empty tiles

@mourner @aaronlidman

[2016-04-27 14:24] tcql commented on #79
done 90dd141

[2016-04-27 14:24] #79 closed

[2016-04-27 14:31] mourner commented on #91
We'll be forced to fully get off Node 0.10/0.12 by the end of the year anyway (they'll stop getting even security updates). I vote for dropping Node 0.10 support in tile-reduce now, along with 0.12.

![](https://raw.githubusercontent.com/nodejs/LTS/master/schedule.png)

[2016-04-27 14:34] mourner commented on #75
I'm fine with the API proposed above too.

[2016-05-04 21:03] tcql opened #92 "`stable` fails on travis"
Looks like node 6 is `stable` on travis already, but it fails during node-gyp when installing sqlite3 dependency of node-mbtiles, because node 6 NAN requires C++11

https://travis-ci.org/mapbox/tile-reduce/jobs/126161614

Looks like we could explicitly install later versions of g++ as an apt dep in travis

[2016-05-05 11:57] mourner commented on #92
We could also fix the source problem by providing Node6 binaries for sqlite3 node-pre-gyp.

[2016-05-05 11:57] mourner commented on #92
cc @springmeyer

[2016-05-20 15:14] tmcw commented on #84
Not seeing much interest in this.

[2016-05-20 15:14] #84 closed

[2016-05-27 16:26] bkowshik opened #94 "Zoom level of osm.mbtiles used in count example"
Using tile-reduce version: `3.1.1`

#### Steps to Trigger Behavior
1: Clone `tile-reduce` with `git clone git@github.com:mapbox/tile-reduce.git`
2: `cd tile-reduce`
3: Install dependencies with `npm install`

#### Actual Behavior
4: Run count example.
[code]
#### Expected Behavior
5: Update `zoom` value in `index.js` from `12` to `15` and run again.
[code]
The example should output a non-zero feat

[2016-05-27 16:28] aaronlidman commented on #94
@bkowshik - Yes, changing it to 15 is the best action here. Previously: https://github.com/mapbox/tile-reduce/commit/117c44303d0b2a257b55cf4d23ba552524028068

Can you change it and submit a pull request?

Thanks for catching that.

[2016-05-27 16:54] #94 closed

[2016-06-02 21:50] morganherlocker commented on #88
Closing, since I believe the two main issues here have been addressed. In summary:

Relations are not spatial, so join them to some geometry first (most relations have `members` that are points, lines, or polygons, and you can combine whatever is present into a GeometryCollection). A similar spatial joining process already happens with ways, so relations are not actually particularly unique.

tipp

[2016-06-03 15:47] wboykinm commented on #88
@anandthakker @morganherlocker As a parting note I'll say it'd be super-dope to have an example of the `--no-clipping` approach in use lying around somewhere.

[2016-06-03 16:12] tmcw commented on #88
Let's keep this open until we hear that the issues are actually addressed from the BLR side; the theoretical solvability of relations does not mean that they can be solved in practice, and until osm-qa-tiles uses no-clipping, it is not relevant to their work.

[2016-06-03 17:13] ericfischer commented on #88
I don't think `--no-clipping` *can* be the general solution for osm-qa-tiles because OSM contains huge polygons that would be duplicated thousands of times. It is only going to be useful for small objects like buildings and maybe roads.

[2016-06-15 13:56] anandthakker opened #97 "Respect 'zoom' option in 'sourceCover'"
@tcql do you think it would make sense to (optionally) filter the [tiles yielded up by sourceCover](https://github.com/mapbox/tile-reduce/blob/master/src/index.js#L106) to `options.zoom`?

[2016-06-15 16:34] tcql commented on #97
@anandthakker 👍 this seems like a good idea to me

[2016-11-27 22:03] Monduiz opened #103 "geometry type not implemented"
When using geojson I get the error: Geometry type not implemented.

Is geometryCollection accepted?

Geojson is like this:
{"type", "geometryCollection", "geometries":[
{"type", "polygon", "coordinates":[]},
{"type", "polygon", "coordinates":[]}
]};

[2016-11-27 23:01] mourner commented on #103
GeometryCollection is written with the capital G.

[2016-11-27 23:01] #103 closed

[2016-11-27 23:02] mourner commented on #103
Same for `Polygon`. Please use http://geojsonlint.com/

[2016-11-27 23:24] Monduiz commented on #103
Yes, and the typos are only in my comment, not in my code. In the script, it is written as it should.
I didnt copy and pasted the original geojson here because its large, I just gave an idea of its structure.

[2016-11-28 08:21] mourner commented on #103
@Monduiz then you must provide us with a minimal test case that reproduces the issue while being valid GeoJSON.

[2016-11-28 10:58] Monduiz commented on #103
Will, do. I provided too little.

[2016-11-28 11:30] Monduiz opened #104 "Error: geometry type not implemented"
I am trying to calculate the number of buildings in a geometry.

When I run index.js, I get an error about geometry not implemented.
I checked the GeoJson and it seems valid. It was created in QGIS and I have tested it in mapshaper.

The scripts are [here](https://github.com/Monduiz/CrowdAnalysis).
Data is canada.mbtiles (not uploaded).

I have tried mbtiles-extracts with the GeoJson but I get an

[2016-12-14 11:45] mourner commented on #104
This happens because `tile-cover` doesn't support geometry collections. Your script will work if you remove the collection wrapper from `Ottawa.json` (making it just a MultiPolygon).

We should add a note in the readme stating that geometry collections are an exception in the `geojson` option.

[2016-12-14 11:49] mourner commented on #88
Closing as stale and not actionable on the tile-reduce side. If the concerns are still not addressed, lets open corresponding tickets in our internal data team repo.

[2016-12-14 11:49] #88 closed

[2016-12-16 11:35] Monduiz commented on #104
Thanks @mourner. I modified the GeoJson to MultiPolygon with OttawaMP.json and did a test. Now I am getting a Unsupported MBTiles format: undefined error.  I checked the geojson and its working everywhere else.

I am stumped. I will need to test again from scratch. I am not sure what I am doing wrong.

[2017-01-11 14:32] #91 closed

[2017-01-11 14:32] #92 closed

[2017-03-09 01:42] jakepruitt opened #108 "Running tile-reduce accross containers"
The current internal workings of tile-reduce make it very good for running on a single machine, but due to an issue with `require('os').cpus.length`, which doesn't accurately report the number of CPU's available within a docker container, tile-reduce can be very resource hungry when running in a container.

Rather than working with a single-machine/process-forking model for distributing work, coul

[2017-03-09 06:46] mourner commented on #108
You can specify `maxWorkers` option to limit the number of workers (e.g. to 1 or 2).

Also, didnt't we have a watchbot repo that split and managed tile-reduce jobs? Can't find it right now though.

[2017-03-09 15:30] tcql commented on #108
it seems cool on paper, but tbh I'm not sure what this would gain you that you can't already do with watchbot.

I'd love to be proven wrong, but I suspect it'd be easiest to use ecs-watchbot in reduce mode, storing worker output data in a known location on S3 that the reducer can pull from. You'd need to orchestrate a queueing script that generates the list of tiles to process, as well as replicat

[2017-03-09 17:09] rclark commented on #108
I agree... but only from the perspective of someone who has worked pretty extensively with both libraries. I think the primary motivation for work like this would be to ease transition of systems currently running tile-reduce on EC2s over to ECS. Does that seem worthwhile? Or is it more worthwhile to have developers learn the ins and outs of ecs-watchbot to transition these stacks?

[2017-03-09 19:25] nickcordella commented on #108
As someone who recently lived through the use case this is meant to address, I lean toward not dedicating concerted resources toward a custom tile-reduce version. It is easy to stack-parameterize `MaxWorkers` and tie it to `reservation.cpu` as a way of getting a tile-reduce job up and running on ECS. If that framework is not too offensive to the platform team, I'd suggest calling that out somewher

[2017-03-09 19:33] rclark commented on #108
It is not, except
- there's not going to be any hard-and-fast rule about where you should set MaxWorkers, we may come harass you if we find your tasks being bad neighbors
- you're basically throttling yourself by insisting that workers operate as part of the same ECS task. Without this limitation you could be scaling to thousands of workers spread across our cluster, rather than dozens bunched up

[2017-03-11 03:01] morganherlocker commented on #108
An HTTP/TCP based mapreduce implementation is going to have very different performance characteristics compared to tile-reduce. The communication protocol has a major effect on architecture considerations for any particular job such as tile zoom or memory usage. I think something like this is worthwhile, but it's a very different problem than what tile-reduce is trying to solve (closer to Hadoop).

[2017-06-29 09:44] ramyaragupathy opened #109 "Memory allocation issue"
Here's a tile-reduce process that's run for the planet. I'm expecting the script to release memory after processing a tile. Instead process keeps taking up more memory space without freeing up memory for the processed tiles and fails at a point due to memory allocation issue.

Time Spent| Memory
-----------|---------
Before beginning the process|![image](https://user-images.githubusercontent.com/1

[2017-06-29 10:39] ramyaragupathy commented on #109
Before the failure message process freezes at a particular tile for more than 10 mins and the free memory at this point comes down to 400MB.

![tile-reduce](https://user-images.githubusercontent.com/12103383/27683869-2efbe984-5ce5-11e7-8a88-e60fbc22ac60.gif)

cc @tcql @mourner @morganherlocker @bkowshik

[2017-08-07 13:09] jenningsanderson commented on #75
:wave: Any update on this? I'd love to see this feature supported as well.

[2019-01-22 16:56] jtsmn opened #112 "Cannot install from npm"
Node version: v10.15.0
NPM version: 6.4.1

When I run `npm install @mapbox/tile-reduce`, I get the following error:
[code]

The npm debug log in question says:
[code]

From what I can tell, the issue seems to be related to the `tile-reduce` dependency on `mbtiles`, which is in turn dependent on `sqlite3@3.13.3`, which is where the build fails. Installing `npm install sqlite3` successfully installs

[2019-01-22 17:30] jtsmn commented on #112
Wanted to follow up, cloning the repo and installing that way _does_ work. Feel free to close if the issue is likely with my setup, rather than an issue with npm installation.

[2019-01-25 16:39] tcql opened #113 "Update dependencies"
While not _necessarily_ an issue, #112 highlights the fact that tile-reduce dependencies haven't been updated in quite some time. This results in forcing gyp rebuilds for sqlite3 in modern node environments, since older releases of sqlite3 (via node-mbtiles) don't have prebuilt binaries for newer node versions.

[2019-01-25 16:40] tcql commented on #112
Yea! glad you got thinks worked out. For posterity, the exact issue here was that sqlite3@3.1.13 (the version installed via mbtiles dependency) doesn't have a prebuilt binary for node 10, so it tries to use node-gyp and build it locally.

This error indicates the particular issue:

[code]

xcode required to complete the local built of sqlite3 isn't installed or configured correctly.

And, as for t

[2019-01-25 16:40] #112 closed

[2019-01-25 17:48] #113 closed

[2019-01-28 15:54] mourner commented on #113
Published as v3.3.0.

[2019-02-07 16:41] srividyacb opened #115 "How CPU utilization is distributed?"
Is there any documentation on how CPU and memory allocation is done for a tile-reduce script?

A tile-reduce script which is running in a 32 CPU core machines uses all the cores to process 400 tiles uses all the cores initially for 4-5 tiles and then only one CPU is allocated till the end.

What might be the issue here?  Is this the issue with cached memory or because of too many operation happeni

[2019-02-11 15:42] srividyacb commented on #115
Thank you so much for responding @morganherlocker .

So just to understand again, one tile is assigned to one CPU core at once and execution time is dependent on the density of the tile. Is that right?

[2020-07-04 15:16] Nerdyvedi commented on #104
@Monduiz . Were you able to solve this ? I am getting the same error. Not sure if you would still remember how you solved it though

[2020-07-04 15:37] Monduiz commented on #104
@Nerdyvedi It has been awhile but if I remember I decided to do it differently than with this library. ONce you have geojsons, it was trivial to get what I needed. Basically, I wrote a script that extracted features I need from OSM and then made my calculations in R. I don't know if this will be useful to you but you can see the code and final project here:

[buildings monitoring with OSM](https:/

[2020-07-07 07:08] Nerdyvedi commented on #104
@Monduiz Thank you so much for your help.

[2022-02-10 22:49] iandees commented on #75
Hello from the future! I am running into this today and would also love to have this feature. I'm hacking in a workaround for now, but excited for #110.